<div class="container" *ngIf="!restaurantSaved">
  <h2>Add a new restaurant information</h2>
  <form #myForm="ngForm" (submit)="submitRestoForm()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" [(ngModel)]="restoFormData.name" name="name" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Address</label>
      <input type="text" [(ngModel)]="restoFormData.address" name="address" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="text" [(ngModel)]="restoFormData.phone" name="phone" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" [(ngModel)]="restoFormData.email" name="email" class="form-control" required>
    </div>
    <div>
      <label for="picture">Picture</label> &#160; &#160;&#160; &#160;
      <input type="file" id="picture" name="picture" (change)="onRestoFileSelected($event)" required>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Add restaurant</button>
  </form>
</div>

<div *ngIf="restaurantSaved">
  Restaurant saved successfully!
</div>

<br><br>

<div class="container" *ngIf="!mealSaved">
  <h2>Add a new meal</h2>
  <form #myForm="ngForm" (submit)="submitMealForm()">
    <div class="form-group">
      <label>Meal</label>
      <input type="text" [(ngModel)]="mealFormData.meal" name="meal" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Restaurant</label>
      <input type="text" [(ngModel)]="mealFormData.restaurant" name="restaurant" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Ingredients</label>
      <input type="text" [(ngModel)]="mealFormData.ingredients" name="ingredients" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Price</label>
      <input type="text" [(ngModel)]="mealFormData.price" name="price" class="form-control" required>
    </div>
    <div>
      <label for="picture">Picture</label> &#160; &#160;&#160; &#160;
      <input type="file" id="picture" name="picture" (change)="onMealFileSelected($event)" required>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Add meal</button>
  </form>
</div>

<div *ngIf="!mealSaved">
  Meal saved successfully!
</div>