.restaurant-header {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#signInOrUp {
  color: blue;
}

.clickable-link {
  color: #0056b3;
  font-size: large;
}

.clickable-link:hover {
  font-size: 120%;
}

.search-button-container {
  margin-top: 10px;
}

.search-button {
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 30%;
  max-width: 150px;
}

.restaurant-logo img {
  max-height: 60px;
}

.cart-icon {
  font-size: 24px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.search-input{
  border-color: #0056b3;
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.search-bar {
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.search-icon{
  display: none;
}

@media screen and (max-width: 768px) {
  .search-button{
    display: none;
  }

  .restaurant-logo{
    display: none;
  }

  .icon{
     display: block;
     border-radius: 50%;
     background-color: rgb(103, 233, 233);
  }
}
