.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    transition: border-color 0.2s;
  }
  
  input[type="text"]:focus,
  textarea:focus {
    outline: none;
    border-color: #6cb2eb;
  }
  
  button[type="submit"] {
    background-color: #6cb2eb;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button[type="submit"]:hover {
    background-color: #4285c8;
  }
  
.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.explore-link {
  display: inline-block;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.meal-name {
  font-size: 18px;
  margin-top: 10px;
}

.meal-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #245007;
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.backdropBackground {
  background-color: red;
  backdrop-filter: blur(4px);
}

.ngx-green-toast {
  background-color: green !important;
  color: white !important;
}

.meal-cart {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.meal-cart img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.meal-cart h3 {
  font-size: 24px;
  margin: 10px 0;
}

.meal-cart p {
  font-size: 16px;
}

.meal-cart a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.go-back-link {
  text-align: center;
  color: #007bff;
  cursor: pointer;
  margin-top: 20px;
}

.ingredients{
  background-color: lightblue;
  margin-left: 50px;
  margin-right: 50px;
}





  